/* Valores por defecto */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  height: 36px;
  padding: 0 16px;
  border-radius: var(--radius-md);
  border: 1px solid transparent;

  font-family: var(--font-family);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
  line-height: 22px;
  text-decoration: none;

  cursor: pointer;
}

/* Botón Pequeño */
.btn-sm {
  height: 32px;
  padding: 0 12px;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  line-height: 20px;
}

/* Botón Grande */
.btn-lg {
  height: 44px;
  padding: 0 20px;
  border-radius: var(--radius-lg);
  font-size: var(--font-size-lg);
  line-height: 28px;
}

/* Variantes de Color */
.btn-gradient {
  background: linear-gradient(
    90deg,
    var(--color-brand-gradient-start),
    var(--color-brand-gradient-end)
  );
  color: var(--color-text-inverse);
}

.btn-outline {
  background-color: var(--color-surface-base);
  border-color: var(--border-brand);
  color: var(--color-brand);
}

.btn-pink {
  background-color: var(--color-brand);
  color: var(--color-text-inverse);
}

.btn-pink-light {
  background-color: var(--color-brand-light);
  color: var(--color-brand);
}

/* Accesibilidad (Teclado) */
.btn:focus-visible {
  outline: 2px solid #873aaa;
  outline-offset: 2px;
}

/* ==========================
   TABLET (min-width: 768px)
   ==========================*/

@media (min-width: 768px) {
  .btn {
    gap: 8px;
  }

  .btn-lg {
    font-size: 16px;
    line-height: 26px;
  }

  .btn img {
    width: 16px;
    height: 16px;
  }
}

/* =============================
   DESKTOP (min-width: 1200px)
   =============================*/

@media (min-width: 1200px) {
  .btn {
    gap: 10px;
  }

  .btn-lg {
    font-size: 18px;
    line-height: 28px;
  }

  .btn img {
    width: 18px;
    height: 18px;
  }
}
