
/* Valores por defecto */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    height: 36px;
    padding: 0 16px;
    border-radius: 6px;
    border: 1px solid transparent;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;

    cursor: pointer;
}
/*Botón Pequeño*/
.btn-sm {
    height: 32px;
    padding: 0 12px;
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
}

/* Botón Grande */
.btn-lg {
    height: 44px;
    padding: 0 20px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 28px;
}

/* Variantes de Color */
.btn-gradient {
    background: linear-gradient(90deg, #873AAA, #DF007F);
    color: #FFFFFF;
}

.btn-outline {
    background-color: #FFFFFF;
    border-color: #CE0A86;
    color: #CE0A86;
}

.btn-pink-light {
    background-color: #FEF0F9;
    color: #CE0A86;
}

/* Accesibilidad (Teclado) */
.btn:focus-visible {
    outline: 2px solid #873AAA;
    outline-offset: 2px;
}

/* =========
   DESKTOP
   =========*/
@media (min-width: 768px) {
    .btn {
        gap: 8px;    
    }

    .btn-lg {        
        font-size: 16px;
        line-height: 26px;
    }
   
    .btn img {
        width: 16px;
        height: 16px;
    }
}