/* ========================================
   NETWORKING - CARD - MOBILE
   ======================================== */

.mobile-networking-card {
    width: 350px;
    height: 100px;

    background-color: #FFFFFF;
    border-radius: 6px;
}


/* Nombre */

.mobile-networking-card__name {
    width: 202px;
    height: 22px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #171A1F;
}


/* Class */

.mobile-networking-card__class {
    width: 202px;
    height: 20px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #9095A0;
}


/* Cargo / descripción */

.mobile-networking-card__role {
    width: 202px;
    height: 20px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #9095A0;
}


/* Imagen */

.mobile-networking-card__image {
    width: 76px;
    height: 76px;

    border-radius: 4px;

    background-color: #D9D9D9;
}

/* ========================================
    NETWORKING - CARD - DESKTOP 
   ======================================== */

.networking-card {
    width: 154px;
    height: 142px;

    background-color: #FFFFFF;
}


/* Nombre */

.networking-card__name {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    color: #000000;
}


/* Cargo / descripción */

.networking-card__role {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #565E6C;
}


/* Ubicación */

.networking-card__location {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #565E6C;
}


/* ========================================
  JOB OPPORTUNITY - CARD -  MOBILE 
   ======================================== */

.mobile-job-card {
    position: relative;

    width: 350px;
    height: 136px;

    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}


/* Título */

.mobile-job-card__title {
    position: absolute;

    width: 202px;
    height: 22px;

    top: 12px;
    left: 12px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #171A1F;
}


/* Empresa / descripción */

.mobile-job-card__company {
    position: absolute;

    width: 202px;
    height: 20px;

    top: 40px;
    left: 12px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #9095A0;
}


/* Localización / fecha */

.mobile-job-card__details {
    position: absolute;

    width: 202px;
    height: 20px;

    top: 66px;
    left: 12px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    color: #9095A0;
}


/* Imagen */

.mobile-job-card__image {
    position: absolute;

    width: 112px;
    height: 112px;

    top: 12px;
    left: 226px;

    border-radius: 4px;

    background-color: #D9D9D9;
}

/* ========================================
  JOB OPPORTUNITY - CARD -  DESKTOP 
   ======================================== */

.job-card {
    position: relative;

    width: 416px;
    height: 166px;

    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}


/* Título */

.job-card__title {
    position: absolute;

    width: 208px;
    height: 30px;

    top: 16px;
    left: 16px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    color: #171A1F;
}


/* Empresa / descripción */

.job-card__company {
    position: absolute;

    width: 208px;
    height: 22px;

    top: 54px;
    left: 16px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #9095A0;
}


/* Fecha */

.job-card__date {
    position: absolute;

    width: 208px;
    height: 22px;

    top: 92px;
    left: 16px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #9095A0;
}


/* Imagen */

.job-card__image {
    position: absolute;

    width: 160px;
    height: 134px;

    top: 16px;
    left: 240px;

    border-radius: 4px;

    border: 1px solid #CE0A86;
}



/* ========================================
   WELCOME - TESTIMONIAL CARD -  DESKTOP 
   ======================================== */

.testimonial-card {
    position: relative;

    width: 371px;
    height: 214px;

    background-color: #FFFFFF;

    border: 1px solid #DEE1E6;
    border-radius: 16px;
}


/*AVATAR */

.testimonial-card__avatar {
    position: absolute;

    width: 64px;
    height: 64px;

    top: 24px;
    left: 24px;

    border-radius: 32px;

    background-color: #F1D1E8;

    object-fit: cover;
}


/*NOMBRE*/

.testimonial-card__name {
    position: absolute;

    width: 235px;
    height: 36px;

    top: 24px;
    left: 112px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

    color: #323842;
}


/*RATING*/

.testimonial-card__rating {
    position: absolute;

    width: 100px;
    height: 20px;

    top: 60px;
    left: 112px;

    display: flex;
}


.testimonial-card__star {
    width: 20px;
    height: 20px;

    display: block;
}


/*TEXTO-OPINIÓN*/

.testimonial-card__text {
    position: absolute;

    width: 323px;
    height: 78px;

    top: 112px;
    left: 24px;

    margin: 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    color: #171A1F;
}


/* ========================================
   WELCOME - BENEFIT CARD - DESKTOP
   ======================================== */

.benefit-card {
    width: 300px;
    height: 238px;

    background-color: #FFFFFF;
    border: 1px solid #BCC1CA;
    border-radius: 16px;

    text-align: center;
}

/* ICON */

.benefit-card__icon {
    width: 32px;
    height: 32px;

    display: block;
    margin: 0 auto;
}

/* TEXTO */

.benefit-card__text {
    width: 300px;
    height: 104px;

    margin: 16px 0 0;

    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    color: #565E6C;
}