
/* ========================================
   NETWORKING - CARD - MOBILE
======================================== */

.networking-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
    width: 100%;
    max-width: 350px;
    padding: 12px;
    
    background-color: #FFFFFF;
    border: 1px solid #DEE1E6;
    border-radius: 6px;
}

/* contenedor de información */
.networking-card__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1;
}

/* Tipografía */
.networking-card__name {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #171A1F;
}

.networking-card__class,
.networking-card__role,
.networking-card__location {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #9095A0;
}

/* Imagen */
.networking-card__image {
    width: 76px;
    height: 76px;
    object-fit: cover;
    border-radius: 4px;
    background-color: #D9D9D9;
    flex-shrink: 0;
}

/* botón oculto */
.networking-card__action {
    display: none;
}

/*==========================
   NETWORKING - CARD - TABLET
==========================*/

@media (min-width: 768px) {    
    .networking-card {
        flex-direction: column;
        align-items: flex-start;
        max-width: 154px;
        padding: 0;
        border: none; /* Elimina borde si en desktop va libre */
        background-color: transparent;
    }

    /*Tipografía*/
    .networking-card__name {
        font-size: 16px;
        line-height: 26px;
        color: #000000;
    }

    .networking-card__role,
    .networking-card__location {
        font-size: 14px;
        line-height: 22px;
        color: #565E6C;
    }

    /* información oculta */
    .networking-card__image,
    .networking-card__class {
        display: none;
    }

    /* botón */
    .networking-card__action {
        display: inline-flex;
        margin-top: 8px;
    }
}


/* ==========================
   NETWORKING - CARD - DESKTOP
============================*/

@media (min-width: 1024px) {
    .networking-card {
        max-width: 200px; 
    }

    .networking-card__name {
        font-size: 18px;
        line-height: 28px;
    }
}




/* ========================================
   JOB OPPORTUNITY - CARD - MOBILE
======================================== */

/* Contenedor principal */
.job-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    
    width: 100%;
    max-width: 350px;
    padding: 12px;
    
    background-color: #FFFFFF;
    border: 1px solid #DEE1E6;
    border-radius: 6px;
}

/* contenedor de información */
.job-card__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}

/* Tipografía */
.job-card__title {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #171A1F;
}

.job-card__company,
.job-card__details {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #9095A0;
}

/* Botón */
.job-card__action {
    align-self: flex-start; 
    margin-top: 4px;
}

/* Imagen */
.job-card__image {
    width: 112px;
    height: 112px;
    object-fit: cover;
    border-radius: 4px;
    background-color: #D9D9D9;
    flex-shrink: 0;
}


/* =============================
 JOB OPPORTUNITY - CARD - TABLET
================================*/

@media (min-width: 768px) {
    .job-card {
        max-width: 416px;
        padding: 16px;
        gap: 16px;
    }

    .job-card__title {
        font-size: 20px;
        line-height: 30px;
    }

    .job-card__company,
    .job-card__details {
        font-size: 14px;
        line-height: 22px;
    }

    .job-card__image {
        width: 160px;
        height: 134px;
    }
}

/* ================================
   JOB OPPORTUNITY - CARD - DESKTOP
==================================*/
@media (min-width: 1024px) {
    .job-card {
        max-width: 480px;
        padding: 20px;
    }

    .job-card__title {
        font-size: 22px;
        line-height: 32px;
    }

    .job-card__image {
        width: 180px;
        height: 150px;
    }
}



/*=======================================
   WELCOME - BENEFIT CARD - MOBILE
======================================== */

/* Contenedor principal */
.benefit-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    width: 100%;
    max-width: 320px;
    padding: 24px 20px;

    background-color: #FFFFFF;
    border: 1px solid #BCC1CA;
    border-radius: 16px;
    text-align: center;
}

/* Icono */
.benefit-card__icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
    flex-shrink: 0;
}

/* Descripción */
.benefit-card__text {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #565E6C;
}

/* Botón*/
.benefit-card__action {
    margin-top: auto; 
}


/* ================================
   WELCOME - BENEFIT CARD - TABLET
==================================*/

@media (min-width: 768px) {
    .benefit-card {
        max-width: 300px;
        padding: 28px 24px;
        gap: 20px;
    }
}

/* ================================
   WELCOME - BENEFIT CARD - DESKTOP 
================================*/
@media (min-width: 1024px) {
    .benefit-card {
        max-width: 350px;
        padding: 32px 28px;
    }

    .benefit-card__icon {
        width: 40px;
        height: 40px;
    }

    .benefit-card__text {
        font-size: 16px;
        line-height: 24px;
    }
}



/* ========================================
   WELCOME - TESTIMONIAL CARD - MOBILE
======================================== */

/* Contenedor principal */
.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    max-width: 320px;
    padding: 20px;

    background-color: #FFFFFF;
    border: 1px solid #DEE1E6;
    border-radius: 16px;
}

.testimonial-card__header {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* contenedor nombre y estrellas */
.testimonial-card__user-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Avatar */
.testimonial-card__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #F1D1E8;
    flex-shrink: 0;
}

/* Nombre del usuario */
.testimonial-card__name {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #323842;
}

/* Contenedor de estrellas */
.testimonial-card__rating {
    display: flex;
    gap: 2px;
}

.testimonial-card__star {
    width: 16px;
    height: 16px;
}

/* Texto de la opinión */
.testimonial-card__text {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #171A1F;
}


/* ===================================
   WELCOME - TESTIMONIAL CARD - TABLET 
   ==================================*/
@media (min-width: 768px) {
    .testimonial-card {
        max-width: 371px;
        padding: 24px;
        gap: 20px;
    }

    .testimonial-card__avatar {
        width: 64px;
        height: 64px;
    }

    .testimonial-card__name {
        font-size: 24px;
        line-height: 36px;
    }

    .testimonial-card__star {
        width: 20px;
        height: 20px;
    }

    .testimonial-card__text {
        font-size: 16px;
        line-height: 26px;
    }
}

/* ====================================
   WELCOME - TESTIMONIAL CARD - DESKTOP
====================================*/
@media (min-width: 1024px) {
    .testimonial-card {
        max-width: 420px;
        padding: 28px;
    }

    .testimonial-card__text {
        font-size: 18px;
        line-height: 28px;
    }
}
